
@media only screen and (min-width: 480px) and (max-width: 768px){
	/* generated in /www/sites/libero.mikado-themes.com/files/html/wp-content/themes/libero/assets/custom-styles/general-custom-styles-responsive.php libero_mikado_design_responsive_styles function */
.mkd-section.mkd-parallax-section-holder { height: auto !important;min-height: 100px;}

}

@media only screen and (max-width: 480px){
	/* generated in /www/sites/libero.mikado-themes.com/files/html/wp-content/themes/libero/assets/custom-styles/general-custom-styles-responsive.php libero_mikado_design_responsive_styles function */
.mkd-section.mkd-parallax-section-holder { height: auto !important;min-height: 100px;}

}